.css-ascpo7-MuiStepLabel-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MuiStepLabel-label {
    margin-top: 10px;
}

.map-container {
    width: 100%;
    height: 100%;
}